<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block page_title %} {% endblock page_title %} | TEAM</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% load tailwind_tags %}{% load fontawesome_5 %}
  </head>

  <body class="bg-gray-900 font-serif">
    <!--  -->
    {% include './header.html' %}

    <!--  -->
    {% block content %}
    <!--  -->
    {% tailwind_css %} {% fontawesome_5_static %}

    <!--  -->
    {% endblock content %}
  </body>
</html>